@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --yellow: #ffe742;
    --pink: #f0a1d3;
    --blue: #87ffeb;
    --gradient: linear-gradient( 2deg, var(--pink) 20%, var(--yellow) 50%, var(--blue) 100%);
}

html,
body {
    margin: 0 auto;
    padding: 0%;
    min-height: 100vh;
    font-family: var(--font-family);
    box-sizing: border-box;
    overflow: scroll-y;
}

body {
    @apply bg-gradient-to-bl from-gray-800 to-gray-900 object-cover object-center font-default text-white flex flex-col;
}

*::selection {
    background-color: rgb(179, 212, 252);
    color: black;
}

.wave-underline {
    text-decoration-line: underline;
    text-decoration-style: wavy;
}